<div class="header">
  <div class="header-text">
    <h3>
      Greetings, <% let fullName = user.fullName; let firstName =
      fullName.split(" ")[0]; %> <%= firstName %> 👋
    </h3>
    <h1>Dashboard</h1>
  </div>
  <div class="logout-box">
    <div style="display: flex; gap: 1vw; align-items: center">
      <img
        src="/get_uploaded?fileLocation=<%= user.profilePicture %>"
        alt="Profile Picture"
      />
      <span style="font-weight: bold">
        <%= firstName %>
      </span>
    </div>
    <a href="/logout">
      <svg
        width="29"
        height="28"
        viewBox="0 0 29 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_106_78)">
          <path
            d="M18.5562 3.11108H6.11171C5.69915 3.11108 5.30349 3.27497 5.01176 3.5667C4.72004 3.85842 4.55615 4.25408 4.55615 4.66664V23.3333C4.55615 23.7459 4.72004 24.1415 5.01176 24.4333C5.30349 24.725 5.69915 24.8889 6.11171 24.8889H18.5562C18.9687 24.8889 19.3644 24.725 19.6561 24.4333C19.9478 24.1415 20.1117 23.7459 20.1117 23.3333V18.6666H12.8239C12.6177 18.6666 12.4198 18.5847 12.274 18.4388C12.1281 18.293 12.0462 18.0951 12.0462 17.8889C12.0462 17.6826 12.1281 17.4848 12.274 17.3389C12.4198 17.193 12.6177 17.1111 12.8239 17.1111H20.1117V4.66664C20.1117 4.25408 19.9478 3.85842 19.6561 3.5667C19.3644 3.27497 18.9687 3.11108 18.5562 3.11108Z"
            fill="#002E6D"
          />
          <path
            d="M22.5694 13.44C22.4206 13.3125 22.2292 13.2459 22.0334 13.2535C21.8377 13.2611 21.652 13.3422 21.5135 13.4807C21.3749 13.6193 21.2938 13.8049 21.2862 14.0007C21.2787 14.1964 21.3453 14.3878 21.4727 14.5366L24.1016 17.1111H20.1116V18.6666H24.1016L21.4727 21.3577C21.3913 21.4275 21.3251 21.5133 21.2785 21.6098C21.2318 21.7062 21.2055 21.8113 21.2014 21.9185C21.1973 22.0256 21.2153 22.1324 21.2544 22.2322C21.2935 22.332 21.3528 22.4227 21.4286 22.4985C21.5044 22.5743 21.5951 22.6336 21.6949 22.6727C21.7947 22.7118 21.9015 22.7298 22.0086 22.7257C22.1157 22.7215 22.2208 22.6953 22.3173 22.6486C22.4138 22.6019 22.4996 22.5358 22.5694 22.4544L27.1116 17.9433L22.5694 13.44Z"
            fill="#002E6D"
          />
        </g>
        <defs>
          <clipPath id="clip0_106_78">
            <rect
              width="28"
              height="28"
              fill="white"
              transform="translate(0.667236)"
            />
          </clipPath>
        </defs>
      </svg>
    </a>
  </div>
</div>
