<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connections / Mailbox Pricing</title>
    <link rel="stylesheet" href="/styles/mailbox_pricing.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Let's select the best plan for your business.</h1>
      <br />
      <div class="pricing-table">
        <div class="row row-first">
          <div class="col-50"></div>
          <div class="col-25 pricing-headings">Virtual Mailing Address</div>
          <div class="col-25 pricing-headings">Virtual Office</div>
        </div>
        <b>Optional Services - all plans</b>
        <br />
        <br />
        <div class="row row-second">
          <div class="col-50">
            Local pickup. FREE at most locations. Pickup upon request.
          </div>
          <div class="col-25">✔</div>
          <div class="col-25">✔</div>
        </div>
        <div class="row row-second">
          <div class="col-50">
            Incoming mail FREE storage of 60 / month. Each additional storage at
            $0.35
          </div>
          <div class="col-25">✔</div>
          <div class="col-25">✔</div>
        </div>
        <div class="row row-second">
          <div class="col-50">
            Open & Scan 1-10 pages: $2.25. Each additional page at US$0.50
          </div>
          <div class="col-25">✔</div>
          <div class="col-25">✔</div>
        </div>
        <div class="row row-second">
          <div class="col-50">
            Forwarding each bundle at US$3.00. Shipping fees will apply.
          </div>
          <div class="col-25">✔</div>
          <div class="col-25">✔</div>
        </div>
        <div class="row row-second">
          <div class="col-50">
            Receive fax: $2.00 each for up to 6 pages, then $25/page.
          </div>
          <div class="col-25">✔</div>
          <div class="col-25">✔</div>
        </div>
        <div
          class="row row-second"
          style="border-bottom: 2px solid transparent !important;"
        >
          <div class="col-50"></div>
          <div class="col-25">
            <button>Get Started</button>
          </div>
          <div class="col-25">
            <button>Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
