<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connections / Pricing</title>
    <link rel="stylesheet" href="/styles/pricing_tables.css" />
  </head>
  <body>
    <div class="intro-text">
      <p>
        Real time communication (Live Chat) with your suppliers and customsers
        is now transforming businesses to meet their growing expectations.
        Today, if you are not listening to your customers in real time to lock
        in on a sale, you are losing business. Most businesses wil offer you a
        live chat to caht with you, their customer, but our live chat gives
        you the ability to chat with your own customers and suppliers, thus
        helping you make your own sale or purchase without having to be all
        over the place looking for sale or supplier. Since launching our chat
        forum, we have helped businesses and their suppliers or customers
        close deals in less time than waiting for the traditional email
        responses. Sign up for our live chat and connect with your own
        customers for free.
        <br />
        <br />
        Sign up and start your chat.
      </p>
    </div>
    <div class="wrapper pricing-table">
      <div class="pricing-table-header">
        <h1 id="heading">
          <span>L</span><span>e</span><span>t</span><span>'</span
          ><span>s</span> <span>s</span><span>e</span><span>l</span
          ><span>e</span><span>c</span><span>t</span> <span>t</span
          ><span>h</span><span>e</span> <span>b</span><span>e</span
          ><span class="w">s</span><span class="w">t</span> <span>p</span
          ><span>l</span><span>a</span><span>n</span> <span>f</span
          ><span>o</span><span>r</span> <span>y</span><span>o</span
          ><span>u</span><span>r</span> <span>b</span><span>u</span
          ><span>s</span><span>i</span><span class="w">n</span
          ><span class="w">e</span><span class="w">s</span
          ><span class="w">s</span><span>.</span>
        </h1>
      </div>
      <div class="pricing-cards-row">
        <div class="pricing-card">
          <h3>Free Connections</h3>
          <p>Connect and network with your neighbors.</p>
          <h2>$0/Mo</h2>
          <ul>
            <li>Market area: 4 Miles.</li>
            <li>Reach as many as 1000 businesses.</li>
            <li>Connect with up-to 10 businesses.</li>
          </ul>
          <a href="" class="btn-primary">Get Started</a>
        </div>
        <div class="pricing-card">
          <h3>Local</h3>
          <p>Connect and Network with your Community.</p>
          <h2>$7.99/Mo</h2>
          <ul>
            <li>Market area: 25 Miles.</li>
            <li>Reach as many as 4000 businesses.</li>
            <li>Connect with up-to 20 businesses per month.</li>
            <li>See who visited your page.</li>
          </ul>
          <a href="" class="btn-primary">Get Started</a>
        </div>
        <div class="pricing-card">
          <h3>Regional</h3>
          <p>Expand your visibility and referrals.</p>
          <h2>$15.99/Mo</h2>
          <ul>
            <li>Market area: 45 Miles.</li>
            <li>Reach as many as 25000 businesses.</li>
            <li>Connect with up-to 45 businesses per month.</li>
            <li>Be discovered with just 2 keywords search.</li>
          </ul>
          <a href="" class="btn-primary">Get Started</a>
        </div>
        <div class="pricing-card">
          <h3>National</h3>
          <p>Prospects for customers within North America.</p>
          <h2>$54.99/Mo</h2>
          <ul>
            <li>Market area: US, Canada, and Mexico.</li>
            <li>Reach as many as 50000 businesses.</li>
            <li>Connect with up-to 100 businesses per month.</li>
            <li>See who visited your page.</li>
            <li>Be discovered with just 5 keywords search.</li>
          </ul>
          <a href="" class="btn-primary">Get Started</a>
        </div>
        <div class="pricing-card">
          <h3>Worldwide</h3>
          <p>Connect and network with your neighbors.</p>
          <h2>$99.99/Mo</h2>
          <ul>
            <li>Market area: all over the globe.</li>
            <li>Reach as many as 50 million businesses.</li>
            <li>Connect with up-to 500 businesses per month.</li>
            <li>See who visited your page.</li>
            <li>Be discovered with just 10 keywords search.</li>
          </ul>
          <a href="" class="btn-primary">Get Started</a>
        </div>
      </div>
    </div>
  </body>
</html>
